/*
 * Not Required But Perferred
 *
 * Layout Properties (position, float, clear, display)
 * Box Model Properties (width, height, margin, padding)
 * Visual Properties (color, background-color, border, box-shadow)
 * Typography Properties (font-size, font-family, text-align, text-transform)
 * Misc Properties (cursor, overflow, z-index)
*/

/* NATIVE ELEMENTS */
* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

a {
	margin: 10px;
	text-decoration: none;
}
a:hover { background-color: pink; }

h1 { text-align: center; }

html { background-color: brown; }

li { font-size: 24px; }


/* CLASS */
.class-name {
	text-align: right;
	
	background-color: rgb(187, 187, 255);
	color: red;
}



/* NAVBAR */
.navbar {
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 40px;

	background-color: white;
	color: pink;
}

/* NAVBAR LINKS */
.nav-link {
	font-size: 24px;
}


/* TITLE  STUFF */
.dunkin-logo {
	width: 75%;

	margin: auto;
	padding: 40px;

	background-color: orange;

	border-style: solid;
	border-color: pink;
	border-radius: 10px;

	text-align: center;
}

.title {
	color: white;
}

/* MENU STUFF */
.menu {
	width: 75%;

	margin: auto;
	margin-top: 30px;
	padding: 40px;

	background-color: rgb(248, 130, 130);

	border-style: solid;
	border-color: pink;
	border-radius: 10px;
}